.code-editor {
    margin-top: 46px;
    padding-top: 10px;
    height: 50vh;
    background-color: #F2F3F4;

    .monaco-editor {
        .monaco-editor-background, .margin {
            background-color: #F2F3F4;
        }
        .scroll-decoration {
            box-shadow: none;
        }
    }
}
