.control-panel {
    padding: 5px 10px  5px 10px;
    .embedded & {
        padding-right: 1px;
    }
    &.w3-bottom {
        display: none;
        .embedded & {
            display: block;
        }
    }
    &.w3-top {
        display: block;
        .embedded & {
            display: none;
        }
    }
    .w3-button {
        margin-right: 10px;
        height: 40px;
        outline-style: none;
        background-color: #F2F3F4!important;
        text-align: center;
        min-width: 75px;
        .embedded & {
            margin-right: 0px;
            background-color: #20b6b0!important;
            color: white!important;
            float: right;
            &:hover {
                background-color: #eeeeee!important;
                color: #3b3b3b!important;
            }
        }
        &:hover {
            background-color: white!important;
        }
        i {
            margin-left: 8px;
        }
        .loading {
            font-size: large;
            span {
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }
            span:nth-child(2) {
                animation-delay: .2s;
            }
            span:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }
    .logo {
        height: 40px;
        margin-right: 15px;
    }
    .download-text {
        margin-top: 5px;;
    }
}